@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100..900&display=swap");

/* Reset margins/paddings */
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Armenian", "Inter", sans-serif;
}

/* Armenian text only */
